# build folders
/cmake-build-debug/
/cmake-build-debug-coverage/
/cmake-build-minsizerel/
/cmake-build-release/
/cmake-build-relwithdebinfo/
/build
/dist

# IDE
/nbproject/private
/nbproject/project.properties
.idea/

# Other
.dep.inc
*.swp
.directory
*.original
*.dia~


